body {
  /* background: #151618; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --transition-duration: 0.3s;
}

html {
  font-size: 16px;
  font-family: "Figtree", sans-serif;
  line-height: 1.5;
}

img {
  display: block;
}
header {
  width: 100%;

  display: flex;
  flex-direction: column;
  background-color: rgb(245, 246, 248) 8;
}
.container {
  width: calc(100% - 15%);

  margin: 0 auto;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
}
.top-header .logo-container {
  margin: 10px 0px 0px 0px;
}
.top-header a {
  display: inline-block;
}
.top-header a .logo {
  width: 70%;
  max-width: 100%;
  height: 110px;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.top-header .contact a:not(.help-button) {
  color: #6e6e6f;
  font-family: "ADLaM Display", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  margin-right: 15px;
}
.top-header .contact a:not(.help-button):nth-last-of-type(2) {
  margin-right: 0;
}
.top-header .contact a:not(.help-button):hover {
  text-decoration: underline;
}
.top-header .contact .help-button {
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  fill: #ffffff;
  color: #ffffff;
  background-color: #09adff;
  border-radius: 5px 5px 5px 5px;
  padding: 20px 20px 20px 20px;
  margin: 0 20px 0 20px;
  text-decoration: none;
}
.top-header .contact .help-button:hover {
  text-decoration: underline;
}
.navigation {
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #fff;
  text-decoration: none;
}
.nav-container {
  display: flex;
  justify-content: end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  /* background: #262626; */
  color: #555454;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
/* nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581dc;
  color: #fff;
} */
.menu-item:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23555454'%3E%3Cpath d='M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z'/%3E%3C/svg%3E");
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
}
.icon-added::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23555454'%3E%3Cpath d='M232-444v-72h496v72H232Z'/%3E%3C/svg%3E") !important;
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  border: 1px solid rgba(72, 72, 72, 0.1);
  border-bottom-color: rgba(72, 72, 72, 0.1);
  border-bottom: 2px solid #09adff;
  padding: 10px 0;
}
.nav-dropdown li a {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 26px;
  text-transform: capitalize;
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  .nav-container {
    justify-content: start;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
  .menu-item::after {
    top: 16px;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
